.e4_13 { 
	overflow:hidden;
}
.e4_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:812px;
	position:absolute;
}
.e4_14 { 
	width:786px;
	height:812px;
	position:absolute;
	left:-169px;
	top:0px;
	background-image:url(images/background_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e20_126 { 
	width:375px;
	height:75px;
	position:absolute;
	left:0px;
	top:737px;
}
.e20_127 { 
	background-color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:375px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_129 { 
	width:93px;
	height:25px;
	position:absolute;
	left:231px;
	top:25px;
}
.e20_130 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:21px;
	position:absolute;
	left:36px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e20_131 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_132 { 
	width:24.999828338623047px;
	height:24.388303756713867px;
	position:absolute;
	left:0px;
	top:0.3058391511440277px;
}
.e20_133 { 
	background-color:rgba(255, 255, 255, 1);
	width:24.999828338623047px;
	height:24.388303756713867px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_134 { 
	width:78px;
	height:21px;
	position:absolute;
	left:58px;
	top:27px;
}
.e20_135 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_136 { 
	width:9.20000171661377px;
	height:20px;
	position:absolute;
	left:5.399996757507324px;
	top:0px;
}
.e20_137 { 
	width:9.20000171661377px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.20000171661377px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_139 { 
	color:rgba(255, 255, 255, 1);
	width:47px;
	height:21px;
	position:absolute;
	left:31px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e20_128 { 
	transform: rotate(90deg);
	width:50px;
	height:0px;
	position:absolute;
	left:188px;
	top:13px;
}
.e20_128 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e12_46 { 
	width:250px;
	height:250px;
	position:absolute;
	left:63px;
	top:406px;
}
.e12_42 { 
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0.8591079711914062px;
	top:210px;
}
.e12_43 { 
	background-color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e12_43 { 
	border:1px solid rgba(145.00000655651093, 84.00000259280205, 248.0000004172325, 1);
}
.e12_44 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:21px;
	position:absolute;
	left:73.14089965820312px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e10_23 { 
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:140px;
}
.e4_37 { 
	background-color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e4_37 { 
	border:1px solid rgba(145.00000655651093, 84.00000259280205, 248.0000004172325, 1);
}
.e4_38 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:21px;
	position:absolute;
	left:46px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e10_25 { 
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:70px;
}
.e4_46 { 
	background-color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e4_46 { 
	border:1px solid rgba(145.00000655651093, 84.00000259280205, 248.0000004172325, 1);
}
.e4_47 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:21px;
	position:absolute;
	left:75px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e10_24 { 
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_39 { 
	background-color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:249.14089965820312px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:50px;
}
.e4_39 { 
	border:1px solid rgba(145.00000655651093, 84.00000259280205, 248.0000004172325, 1);
}
.e4_40 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:21px;
	position:absolute;
	left:42px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e4_61 { 
	color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:255px;
	height:28px;
	position:absolute;
	left:39px;
	top:143px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e20_4 { 
	width:133px;
	height:133px;
	position:absolute;
	left:121px;
	top:208px;
	background-image:url(images/icons8_vote_yea_96_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_3 { 
	width:375px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_2 { 
	background-color:rgba(135.00000715255737, 143.00000667572021, 255, 1);
	width:375px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_4 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:35px;
	position:absolute;
	left:148px;
	top:36px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
